<section class="hero" aria-labelledby="hero-title">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title" id="hero-title">
        Let’s Make Your Own Cinema
      </h1>

      <p class="hero-description">
        Is it a movie night? Find your perfect film, explore trending
        movies, and save your favorites to your library.
      </p>

      <a class="hero-button" href="./catalog.html">
        Get started
      </a>
    </div>
  </div>
</section>