<section class="library-hero">
    <div class="container library-hero__container">
        <div class="library-hero__content">
            <h1 class="library-hero__title">
                <span class="library-hero__title-desktop">
                    Create Your<br />
                    Dream Cinema
                </span>

                <span class="library-hero__title-mobile">
                    Let's Make Your Own Cinema
                </span>
            </h1>

            <p class="library-hero__description">
                Is a guide to designing a personalized movie theater experience
                with the right equipment, customized decor, and favorite films.
                This guide helps you bring the cinema experience into your own
                home with cozy seating, dim lighting, and movie theater snacks.
            </p>
        </div>
    </div>
</section>