/* modern normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css');

/* Global Box Sizing & Margin/Padding Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Temel Liste ve Link Sıfırlamaları */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}